# JetBrains project folders.
.idea/

# VSCode project folder
.vscode/*

# Desktop Services Store - Mac.
.DS_Store

# App Binaries.
bin/*

coverage.out

# The 'dev' environment configuration is used by individual developers to set up their local environments.
# It is kept in the .gitignore to accommodate variations in configuration among different developers.
dev.toml